<%- include('../partials/header') %>
<div class="big-container-edit-blog">
   <div class="form-container container">
      <h4 class="edit-blog-header">Edit Blog</h4>
      <form action="/blogs/<%= blog._id%>?_method=put" method="post">

         <input class="input" type="text" name="blog[name]" value="<%= blog.name %>">

         <input class="input" type="text" name="blog[image]" value="<%= blog.image %>">

         <textarea name="blog[description]" id="" cols="30" rows="10" value=""><%= blog.description %></textarea>
         <div class="form__div">
            <input class="submit__button" type="submit">
            <a class="cancel__button" href="/blogs/<%= blog._id%>">Cancel</a>
         </div>
      </form>

   </div>
</div>


<%- include('../partials/footer') %>