<%- include('../partials/headerWhite') %>

<div class="container show__container">
   <div class="show-blog__card">
      <div class="show__image-container">
         <img class="show__image" src="<%= blog.image %>" alt="image">
      </div>

      <div class="show-date">
         <p class="submitted__by"><em>Submitted by <%=blog.author.username%></em></p>
         <span class="show-date date-and-heading"><%= blog.created.toDateString() %></span>
      </div>
      <div class="show__heading date-and-heading">
         <h1><%= blog.name %></h1>
      </div>
      <div class="show__body">
         <p><%- blog.description %></p>
         <a class="ui blue basic button mini" href="/blogs">Back</a>
         <% if (currentUser && blog.author.id.equals(currentUser._id)) { %>
         <form class="edit-button" action="/blogs/<%= blog._id %>/edit?_method=EDIT" method="get">
            <button class="ui orange basic button mini">Edit</button>
         </form>
         <form class="delete-button" action="/blogs/<%= blog._id %>?_method=DELETE" method="post">
            <button class="ui red basic button mini">Delete</button>
         </form>
         <% } %>
         <hr class="show__hr">

         <a class="btn-success btn add__comment" href="/blogs/<%=blog._id%>/comments/new">Add a comment</a>



         <div class="comment__container">
            <% blog.comments.forEach(comment => { %>


            <strong><%= comment.author.username%></strong>
            <!-- <span class="pull-right">10 Days ago</span> -->
            <p> <%= comment.text %> </p>
            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
            <a class="ui orange basic button mini" href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit">Edit</a>
            <form class="comment-delete__button" action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
               <input type="submit" class="ui red basic button mini" value="Delete">
            </form>
            <% } %>
            <hr>
            <% }) %>
         </div>


      </div>

   </div>
</div>




<%- include('../partials/footerWhite') %>