<%- include('../partials/header') %>
<div class="big-container-edit-comment">
   <div class="form-container container">
      <h4 class="edit-comment-header">Edit Comment</h4>
      <form class="input-form" action="/blogs/<%= blog_id%>/comments/<%= comment._id%>?_method=PUT" method="post">
         <input class="input" type="text" name="comment[text]" value="<%=comment.text%>">
         <div class="form__div">
            <button class="submit__button" type="submit">Submit</button>
            <a class="cancel__button" href="/blogs">Cancel</a>
         </div>

      </form>
   </div>
</div>


<%- include('../partials/footer') %>